<%= form_for(@delivery_request) do |f| %>
  <% if @delivery_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delivery_request.errors.count, "error") %> prohibited this delivery_request from being saved:</h2>

      <ul>
      <% @delivery_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :buyer_id %><br>
    <%= f.number_field :buyer_id %>
  </div>
  <div class="field">
    <%= f.label :schedule_id %><br>
    <%= f.number_field :schedule_id %>
  </div>
  <div class="field">
    <%= f.label :shop_id %><br>
    <%= f.number_field :shop_id %>
  </div>
  <div class="field">
    <%= f.label :address_id %><br>
    <%= f.number_field :address_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
