<p>
  Bonjour <%= @user.firstname %> <%= @user.lastname %>,<br>

  Vous devez valider votre panier et payer en carte bleue au moins 30 minutes
  avant la fin du créneau du <%= @schedule.date.strftime('%d/%m/%Y') %> de <%= @schedule.schedule.gsub('-','à') %>
  <% if @shop %>
    correspondant au magasin <%= @shop["name"] %> (<%= @shop["address"] %>),
  <% end %>
  faute de quoi votre commande sera annulée automatiquement.
</p>
