<h1>Annulation de livraison</h1>

<p>
	Bonjour <%= @user.firstname %> <%= @user.lastname %>, une de vos commandes a été annulée !<br>

	<% if @timeout %>
	   La commande a été annulée car <%= @deliveryman.firstname %> <%= @deliveryman.lastname %>  n\'est plus disponible pour livrer sur le créneau du <%= @schedule.date.strftime('%d/%m/%Y') %> à <%= @schedule.schedule %>
	<% else %>
		<%= @deliveryman.firstname %> <%= @deliveryman.lastname %> ne souhaite plus vous livrer le <%= @schedule.date.strftime('%d/%m/%Y') %> à <%= @schedule.schedule %>
	<% end %>

	<% if @shop %>
	dans le magasin <%= @shop["name"] %> (<%= @shop["address"] %>)
	<% end %>
</p>
