<% require 'devise/version' %>
<p><%= t('.greeting', :recipient => @resource.email, :default => "Hello!") %></p>

<p><%= t('.instruction', :default => "Someone has requested a link to change your password, and you can do this through the link below.") %></p>

<p><%= link_to t('.action', :default => "Change my password"), edit_password_url(@resource, :reset_password_token => (Devise::VERSION.start_with?('3.') ? @token : @resource.reset_password_token)) %></p>

<p><%= t('.instruction_2', :default => "If you didn't request this, please ignore this email.") %></p>
<p><%= t('.instruction_3', :default => "Your password won't change until you access the link above and create a new one.") %></p>

<p>
  <p>
    A tout de suite,
  </p>
  <p>
     L'équipe Shopmycourses.
  </p>
</p>
<img src="http://res.cloudinary.com/hxfw95smx/image/upload/v1467186637/logo-email.png" width="26%">
<p>
  <span style="color:#749aff;font-size:10pt;font-family:times new roman,times,serif">10, rue de Penthièvre 75008 Paris</span>
</p>
<p>
  <span style="color:#749aff;font-size:10pt;font-family:times new roman,times,serif">
    <a href="mailto:contact@shopmycourses.fr" rel="noreferrer" target="_blank" style="color:#749aff">contact@shopmycourses.fr</a>
  </span>
</p>
<p>
  <a href="http://www.shopmycourses.fr/" rel="noreferrer" target="_blank">www.shopmycourses.fr</a>
</p>
