<p id="notice"><%= notice %></p>

<p>
  <strong>Schedule:</strong>
  <%= @availability.schedule_id %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @availability.shop_id %>
</p>

<p>
  <strong>Deliveryman:</strong>
  <%= @availability.deliveryman_id %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @availability.enabled %>
</p>

<%= link_to 'Edit', edit_availability_path(@availability) %> |
<%= link_to 'Back', availabilities_path %>
